<h1 class="display-4">Employee Register</h1>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
  <div class="form-group">
    <input type="text" name="fullName" #fullName="ngModel" [(ngModel)]="service.formData.fullName" placeholder="Full name" class="form-control" required>
    <div *ngIf="fullName.invalid && fullName.touched" class="validation-error">This field is required</div>
  </div>
  <div class="form-group">
    <input type="text" name="position" #position="ngModel" [(ngModel)]="service.formData.position" placeholder="Position" class="form-control">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" name="employeeCode" #employeeCode="ngModel" [(ngModel)]="service.formData.employeeCode" placeholder="Employee code" class="form-control">
    </div>
    <div class="form-group col-md-6">
      <input type="text" name="mobile" #mobile="ngModel" [(ngModel)]="service.formData.mobile" placeholder="Mobile" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info">SUBMIT</button>
  </div>
</form>

<h1>Base</h1>

<p>
  <a routerLink="/secret">Secret</a>
</p>

<div *ngIf="auth.user$ | async as user; else login">
  <pre>
    {{ user | json }}
  </pre>

  <hr>
  <button class="button" (click)="auth.signOut()">Sign Out</button>

</div>

<ng-template #login>
  <button class="button" (click)="auth.googleSignin()">Login with Google</button>
</ng-template>

<router-outlet></router-outlet>
