<div class="form-container">
  <a routerLink="/home">< Go back</a>

  <h2>Sign up</h2>

  <span class="error" *ngIf="error">{{ error }}</span>

  <form #formData='ngForm' (ngSubmit)="createUser(formData)">
    <input type="text" placeholder="Email address" ngModel #email="ngModel" name="email" class="txt" required>
    <input type="text" placeholder="Password" ngModel #password="ngModel" name="password" class="txt" required>
    <button type="submit" [disabled]="!formData.valid" class="basic-btn">Create my account</button>
  </form>
</div>
